@import url('https://fonts.googleapis.com/css2?family=Homenaje&family=Open+Sans:wght@300;400;600&display=swap');

@font-face {
    font-family: 'Armin Grotesk';
    font-weight: 300;
    src: url(../fonts/ArminGrotesk-300.ttf);
}

@font-face {
    font-family: 'Armin Grotesk';
    font-weight: 700;
    src: url(../fonts/ArminGrotesk-700.ttf);
}

@font-face {
    font-family: 'Armin Grotesk';
    font-weight: 900;
    src: url(../fonts/ArminGrotesk-900.ttf);
}
